---
import Navbar from "../components/Navbar.astro"
import Testimonial from "../components/Testimonial.astro"
import Gallery from "../components/Gallery.astro"
import Accordion from "../components/Accordion.astro"
import Footer from "../components/Footer.astro"
import Expect from "../components/Expect.astro"
import Goals from "../components/Goals.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
		<script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
		<script src="https://unpkg.com/alpinejs" defer></script>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Find the best deals on sand, cement, stones, ballast, cladding, steel bars, beams, and blocks for your construction projects.">
    	<meta name="keywords" content="sand, cement, stones, ballast, cladding, steel bars, beams, blocks, construction materials, building materials">
		<title>Econo Building and Construction</title>
	</head>
	<body class=" font-manrope bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
		
		<ul class=" hidden">
			<li><a href="#">Buy sand online</a></li>
			<li><a href="#">Best cement suppliers near me</a></li>
			<li><a href="#">Quality stones for construction</a></li>
			<li><a href="#">Buy ballast for building projects</a></li>
			<li><a href="#">Durable cladding materials</a></li>
			<li><a href="#">Steel bars for sale</a></li>
			<li><a href="#">High-quality beams for construction</a></li>
			<li><a href="#">Blocks for building walls</a></li>
			<li><a href="#">Construction materials supplier in Nairobi</a></li>
			<li><a href="#">Affordable building materials</a></li>
			<li><a href="#">Bulk sand and cement suppliers</a></li>
			<li><a href="#">Top-rated construction material suppliers</a></li>
			<li><a href="#">Where to buy steel bars and beams</a></li>
			<li><a href="#">Best deals on building blocks</a></li>
			<li><a href="#">Trusted construction material provider</a></li>
			<li><a href="#">construction materials</a></li>
			<li><a href="#">construction materials near me</a></li>
			<li><a href="#">sustainable construction materials</a></li>
			<li><a href="#">construction materials engineering</a></li>
			<li><a href="#">discount construction materials</a></li>
			<li><a href="#">used construction materials</a></li>
			<li><a href="#">construction materials list</a></li>
			<li><a href="#">building construction materials</a></li>
			<li><a href="#">construction materials calculation</a></li>
			<li><a href="#">newest construction materials</a></li>
			<li><a href="#">cheap construction materials</a></li>
			<li><a href="#">order construction materials online</a></li>
			<li><a href="#">recycling construction materials</a></li>
			<li><a href="#">construction materials name list with pictures</a></li>
			<li><a href="#">second hand construction materials</a></li>
			<li><a href="#">wholesale construction materials</a></li>
			<li><a href="#">cost of construction materials</a></li>
			<li><a href="#">metal construction materials</a></li>
			<li><a href="#">used construction materials for sale</a></li>
			<li><a href="#">reclaimed construction materials</a></li>
			<li><a href="#">house construction materials</a></li>
			<li><a href="#">construction materials companies</a></li>
			<li><a href="#">discount construction materials near me</a></li>
			<li><a href="#">fundamentals of building construction materials and methods</a></li>
			<li><a href="#">construction materials technician</a></li>
			<li><a href="#">used construction materials near me</a></li>
			<li><a href="#">construction materials price index</a></li>
		</ul>

		<Navbar />
		<main>
			<Testimonial />
			<Expect />
			<Gallery />
			<Accordion />
			<Goals />
		</main>
		<Footer />
	</body>
</html>