---

---
<section>
    <!-- component -->
<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
<div class="flex flex-col items-center">
<h2 class="font-bold text-5xl mt-5 tracking-tight">
    FAQ
</h2>
<p class="text-neutral-500 text-xl mt-3">
    Frequenty asked questions
</p>
</div>
<div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
<div class="py-5">
    <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> How does  billing work?</span>
            <span class="transition group-open:rotate-180">
        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
      </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            We offers a variety of billing options, such as Mpesa, Cash and Bank Payment services
        </p>
    </details>
</div>
<div class="py-5">
    <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span>Do you offer after sales services?</span>
            <span class="transition group-open:rotate-180">
        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
      </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            We offers after sales services such as free delivery and free installations.
        </p>
    </details>
</div>
<div class="py-5">
    <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span>What materails do you sell?</span>
            <span class="transition group-open:rotate-180">
        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
    </svg>
      </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            We offers a wide range of materials including sand, stones, cement, beams and blocks, steelbars, carbrons, cement just to name a few.
        </p>
    </details>
</div>
<div class="py-5">
    <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> Where are you located?</span>
            <span class="transition group-open:rotate-180">
        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
      </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
             We are located in Nairobi along Thika road.
        </p>
    </details>
</div>
<div class="py-5">
    <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> How do I contact you?</span>
            <span class="transition group-open:rotate-180">
        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
      </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            You can send us an email, call us or dm us on social media or text us on whatsapp
        </p>
    </details>
</div>
<div class="py-5">
    <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> Do you offer any discounts or promotions?</span>
            <span class="transition group-open:rotate-180">
        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
      </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            We may offer discounts or promotions from time to time. To stay up-to-date on the latest
            deals and special offers, you can sign up for the company's newsletter or follow it on social media.
        </p>
    </details>
</div>
<div class="py-5">
    <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> How do we compare to other similar services?</span>
            <span class="transition group-open:rotate-180">
        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
      </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
             We offer reliable and feature-rich materials and service that offers a wide range
            of functionality. It is competitively priced to
            suit different needs and budgets.
        </p>
    </details>
</div>
</div>
</div>
</section>