---

---
<section class=" text-white mx-auto w-9/12 mt-14 min-h-svh">
    <h2 class=" text-center text-xl"> Here is what you can expect from us...</h2>
    <div class="flex flex-col space-y-2 lg:space-y-0 lg:flex-row items-stretch justify-center mt-10 lg:space-x-6  md:pt-10">
        <div class="text-white text-3xl flex flex-col items-center justify-start space-y-6  rounded-3xl p-6 sm:min-h-[200px] w-full lg:w-1/3">
            <svg class="w-[40px] h-[40px]"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(70,146,221,1)"><path d="M4.87759 3.00275H19.1319C19.4518 3.00275 19.7524 3.15583 19.9406 3.41457L23.7634 8.67097C23.9037 8.86385 23.8882 9.12895 23.7265 9.30419L12.3721 21.6047C12.1848 21.8076 11.8685 21.8203 11.6656 21.633C11.6591 21.627 7.86486 17.5174 0.282992 9.30419C0.121226 9.12895 0.10575 8.86385 0.246026 8.67097L4.06886 3.41457C4.25704 3.15583 4.55766 3.00275 4.87759 3.00275ZM5.38682 5.00275L2.58738 8.85198L12.0047 19.0541L21.4221 8.85198L18.6226 5.00275H5.38682Z"></path></svg>
                <div class="flex flex-col space-y-2">
                    <span class=" text-center text-xl">Durable Materials</span>
                    <span class=" text-gray-400 text-sm text-center">Our materials are all stress tested to guaranteed to last a life-time.</span>
                </div>
        </div>
        <div class="text-white text-3xl flex flex-col items-center justify-start space-y-6  rounded-3xl p-6 sm:min-h-[200px] w-full lg:w-1/3">
            <svg class="w-[40px] h-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(70,146,221,1)"><path d="M12.0049 22.0027C6.48204 22.0027 2.00488 17.5256 2.00488 12.0027C2.00488 6.4799 6.48204 2.00275 12.0049 2.00275C17.5277 2.00275 22.0049 6.4799 22.0049 12.0027C22.0049 17.5256 17.5277 22.0027 12.0049 22.0027ZM12.0049 20.0027C16.4232 20.0027 20.0049 16.421 20.0049 12.0027C20.0049 7.58447 16.4232 4.00275 12.0049 4.00275C7.5866 4.00275 4.00488 7.58447 4.00488 12.0027C4.00488 16.421 7.5866 20.0027 12.0049 20.0027ZM8.50488 14.0027H14.0049C14.281 14.0027 14.5049 13.7789 14.5049 13.5027C14.5049 13.2266 14.281 13.0027 14.0049 13.0027H10.0049C8.62417 13.0027 7.50488 11.8835 7.50488 10.5027C7.50488 9.12203 8.62417 8.00275 10.0049 8.00275H11.0049V6.00275H13.0049V8.00275H15.5049V10.0027H10.0049C9.72874 10.0027 9.50488 10.2266 9.50488 10.5027C9.50488 10.7789 9.72874 11.0027 10.0049 11.0027H14.0049C15.3856 11.0027 16.5049 12.122 16.5049 13.5027C16.5049 14.8835 15.3856 16.0027 14.0049 16.0027H13.0049V18.0027H11.0049V16.0027H8.50488V14.0027Z"></path></svg>
                <div class="flex flex-col space-y-2">
                    <span class=" text-center text-xl">Pocket Friendly</span>
                    <span class=" text-gray-400 text-sm text-center">Materials and services that do not drain your wallet.</span>
                </div>
        </div>
        <div class="text-white text-3xl flex flex-col items-center justify-start space-y-6  rounded-3xl p-6 sm:min-h-[200px] w-full lg:w-1/3">
            <svg class="w-[40px] h-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(70,146,221,1)"><path d="M3 19V5.70046C3 5.27995 3.26307 4.90437 3.65826 4.76067L13.3291 1.24398C13.5886 1.14961 13.8755 1.28349 13.9699 1.54301C13.9898 1.59778 14 1.65561 14 1.71388V6.6667L20.3162 8.77211C20.7246 8.90822 21 9.29036 21 9.72079V19H23V21H1V19H3ZM5 19H12V3.85543L5 6.40089V19ZM19 19V10.4416L14 8.77488V19H19Z"></path></svg>
                <div class="flex flex-col space-y-2">
                    <span class=" text-center text-xl">High Quality</span>
                    <span class=" text-gray-400 text-sm text-center">We provide high quality materials without compromise on quality.</span>
                </div>
        </div>
    </div>
    <div class=" flex items-center justify-center mt-40">
       <a href="https://wa.me/+254720486727" class="whatsapp_float" target="_blank"rel="noopener noreferrer"><button class="flex items-center rounded-xl bg-white p-3.5 md:p-4 px-10 md:px-[30px] text-md md:text-md font-bold  tracking-tight cursor-pointer hover:scale-105 transition duration-300 ease-out md:w-auto text-black">Lets get to work<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path></svg></button></a>
    </div>
</section>